# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Jupyter Notebooks
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# Project Data and Models
data/*
!data/.gitkeep
models/*
!models/.gitkeep
reports/*.csv
reports/*.json
figures/*.png

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
